//- переменные
block variables
//- mixins
//- include mixin.pug

doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		div.wrapper
			h1 Home
			block content
		include footer.pug
		include scripts.pug